.form-control[readonly] {
  color: rgba(28, 43, 54, 0.8);
}

.autologin a {
  color: #1c2b36;
}

.autologin a:hover {
  color: black;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}

